h1{
    font-family: 'Long Cang', cursive;
    color: white;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1919;
}
.progress-container{
    height: .8rem;
    width: 32rem;
    border-radius: .4rem;
    background-color: #000000;
}
.progress-container .progress{
    height: 100%;
    width: 0;
    border-radius: .4rem;

    background: #ff4754;

    transition: width .4s ease;
}